@import "../../app.scss";

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 50px;

  span {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  img {
    width: 20px;
  }
  h1 {
    font-size: 3rem;
    text-align: center;
    color: darkgray;
    margin: 40px;
  }
}

.skillList {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 20px;
  max-width: 26ch;
}

hr {
  width: 100px;
  height: 1px;
  border: none;
  background-color: darkgray;
  margin: 30px auto;
}

@include tablet {
  .container {
    padding-top: 250px;
  }
}

@include mobile {
  .container {
    padding-top: 50px;
  }
}
@media (width >= 800px) {
  .skillList {
    max-width: fit-content;
    gap: 30px;

    p {
      font-size: 20px;
    }
  }

  hr {
    width: 300px;
  }
}
